{{template "header"}}

Let's code
<div id= "flipbook">
<div>Page 1 with default size</div>
<div class="own-size" style="width:100;height:100px;">
Page 2 with own size
</div>
</div>
<script type="text/javascript">

</script>
<script type="text/javascript" src="/static/js/turnjs4/lib/hash.js"></script>
<script type="text/javascript" src="/static/js/turnjs4/lib/turn.min.js"></script>
<script type="text/javascript" src="/static/js/turnjs4/lib/turn.html4.min.js"></script>
<script type="text/javascript" src="/static/js/turnjs4/lib/zoom.min.js"></script>
<script type="text/javascript" src="/static/js/turnjs4/lib/bookshelf.js"></script>

{{template "footer"}}