{{define "navbar"}}
<div class="navbar navbar-default">
<a class = "navbar-brand" href = "/">&nbsp;&nbsp;我的博客</a>
	<div >
			<ul class = "nav navbar-nav">
				<li class = "active"> <a  href = "/">首页</a></li>
				<li {{if .IsHome}}class="active"{{end}}><a href = "/category">分类</a></li>
				<li {{if .IsHome}}class="active"{{end}}> <a href = "/topic">文章</a></li>
			<ul>
			
			
			
	</div>
	<div class = "nav navbar-nav navbar-right" >
		<ul class = "nav navbar-nav " >
						{{if .Islogin}}
							<li ><a href = "/logout">退出&nbsp;&nbsp;&nbsp;</a></li>
						{{else}}
							<li><a href = "/login">管理员登陆&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
						{{end}}
	</ul>
	</div>
</div>

{{end}}