  {{template "header"}}

	<div class = "container">
	<h1 class = "page-header">YOUNGTH</h1>
	<p>Youth is not a time of life; it is a state of mind; it is not a matter of rosy cheeks, red lips and supple knees; it is a matter of the will, a quality of the imagination, a vigor of the emotions; it is the freshness of the deep springs of life. 

Youth means a temperamental predominance of courage over timidity, of the appetite for adventure over the love of ease. This often exists in a man of 60 more than a boy of 20. Nobody grows old merely by a number of years. We grow old by deserting our ideals. 

Years may wrinkle the skin, but to give up enthusiasm wrinkles the soul. Worry, fear, self-distrust bows the heart and turns the spirit back to dust. </p>
<h1 class = "page-header">REGISTER</h1>
	<form class="form-horizontal">
  <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-7">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label"> chinese name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label"> english name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">your dog name</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
    <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">age</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
 
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">sex</label>
    &nbsp;&nbsp;
			<input type = "radio" name = "gender"  value = "male">男
			<input type = "radio" name = "gender" value = "female">女
  </div>
    <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">input your photo</label>
    <div class="col-sm-7">
      <input type="file"  id="inputPassword" >
    </div>
  </div>
</form>
		</div>
{{template "footer"}}